/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.input-group {
    position: relative;
  }
  
  .input-group-text {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: transparent;
  }
  
  .form-control.pe-5 {
    padding-right: 3rem; /* Adjust this value to fit the icon */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* high z-index to overlay other content */
  }

.follow-us h6 {
  margin-bottom: 10px; /* Adjusts space below "Follow Us" heading */
}

.follow-us .btn {
  margin-top: 5px; /* Reduces space above each button */
  padding: 8px 16px; /* Adjusts button padding */
}

/* Default Button */
.custom-button-default-white {
  background-color: #ffffff;
  color: #210BE3;
  border-color: #210BE3;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.custom-button-default-white:hover {
  background-color: #210BE3;
  color: #ffffff;
  border-color: #210BE3;
}

.custom-button-default-white:active {
  background-color: #210BE3 !important;
  color: #ffffff !important;
  border-color: #210BE3 !important;
}

.custom-button-default-white:focus:not(:hover) {
  background-color: #ffffff;
  color: #210BE3;
  border-color: #210BE3;
}


/* Default Button Transparent */

.custom-button-default-transparent {
  background-color: #210BE3;
  color: #ffffff;
  cursor: pointer;
  /* transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; */
}

.custom-button-default-transparent:hover {
  color: #210BE3;
  border-color: #210BE3;
}

.custom-button-default-transparent:active {
  color: #210BE3 !important;
  border-color: #210BE3 !important;
}

.custom-button-default-transparent:focus:not(:hover) {
  background-color: #210BE3;
  color: #ffffff;
  border-color: #210BE3;
}



/* Default Button White */
.custom-button-default {
  background-color: #210BE3;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.custom-button-default:hover {
  background-color: #ffffff;
  color: #210BE3;
  border-color: #210BE3;
}

.custom-button-default:active {
  background-color: #ffffff !important;
  color: #210BE3 !important;
  border-color: #210BE3 !important;
}

.custom-button-default:focus:not(:hover) {
  background-color: #210BE3;
  color: #ffffff;
  border-color: #210BE3;
}


/* Default Button White Transparent */

.custom-button-default-white-transparent {
  color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.custom-button-default-white-transparent:hover {
  color: #ffffff;
  border-color: #210BE3;
  background-color: #210BE3;
}

.custom-button-default-white-transparent:active {
  color: #ffffff !important;
  border-color: #210BE3 !important;
  background-color: #210BE3 !important;
}

.custom-button-default-white-transparent:focus:not(:hover) {
  color: #ffffff;
  border-color: #ffffff;
}


/* Default Button Basic For login And Signup */
.custom-button-basic {
  background-color: #210BE3;
  color: #ffffff;
  border-color: #210BE3;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.custom-button-basic:hover {
  background-color: #1d0aca;
  color: #ffffff;
  border-color: #1d0aca;
}

.custom-button-basic:active {
  background-color: #1d0aca !important;
  color: #ffffff !important;
  border-color: #1d0aca !important;
}

.custom-button-basic:focus:not(:hover) {
  background-color: #210BE3;
  color: #ffffff;
  border-color: #210BE3;
}


/* Add this CSS to your stylesheet */
.accordion-button.custom-color {
  background-color: transparent; /* Default color */
  box-shadow: none; /* Remove shadow */
  color: #000000; /* Default text color */
}

.accordion-button.custom-color:not(.collapsed) {
  background-color: #ffffff; /* Color when active */
  color: #210BE3; /* Text color when active */
}

.custom-border {
  border-color: #210BE3 !important;
}

.text-custom {
  color: #210BE3 !important;
}

.text-custom:hover {
  color: #1d0aca !important;
}

.text-custom:active,
.text-custom:focus {
  color: #210BE3 !important;
}

.text-custom:focus:hover {
  color: #1d0aca !important;
}


.form-control::placeholder {
  font-size: 15px; /* Adjust size */
  color: #6c757d; /* Optional: Bootstrap's default muted text color */
  opacity: 1; /* Ensures visibility */
}


/* Basic close button */
.custom-button-close {
  color: #210BE3;
  border: none !important; /* Removes border */
  outline: none !important; /* Removes focus ring */
  background: transparent; /* Ensures no background */
  box-shadow: none !important; /* Removes any default focus shadow */
}

.custom-button-close:hover {
  border: none !important;
  outline: none !important;
}

.custom-button-close:active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.custom-button-close:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.custom-button-close:focus:not(:hover) {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
